.weekView {
    margin-top: 1em;
    margin-bottom: 3em;
}

.weekList {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.weekNav {
    margin: 12px 8px;
}

.dayView {
    flex: 1;
    margin: 8px;
    min-width: 110px;
}

.dayTitle {
    font-weight: 700;
}
.dayEvents {
    margin-top: 8px;
    min-height: 100px;
    flex-direction: column;
}
.dayEventsItem {
    margin: 2px 0;
    padding: 5px;
}
.folk {
    background-color: #ff9800;
    color: #fff;
}
.public {
    background-color: #2196f3;
    color: #fff;
}