.weekList {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;

    margin-bottom: 2em;
}
.weekNav {
    text-align: center;
}
.weekNavBtn {
    font-size: 2em;
}

.dayView {
    flex: 1;
    margin-top: 12px;
    margin-left: 12px;
    min-width: 110px;
}
.dayView:first-child {
    margin-left: 0;
}
.dayTitle {
    font-weight: 700;
}
.dayEvents {
    margin-top: 8px;
    min-height: 100px;
    flex-direction: column;
}
.dayEventsItem {
    margin: 2px 0;
    padding: 5px;
}
.folk {
    background-color: #ff9800;
    color: #fff;
}
.public {
    background-color: #2196f3;
    color: #fff;
}